{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">

    <div class="col-6 card py-2" style="width: 20rem; border-color: white; box-shadow: 1px 2px 3px 1px #D3D3D3; border-radius: 0px;">
        <h2>Add your house details</h2>
        <h3 style="color:#39FF14;">{{message}}</h3>
        <form  method="POST" novalidate enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn "  style="background-color: #00CED1; color: white; border-color: white;">Submit Details
        </form>
    </div>

</div>
<br>

{% endblock %}