{% extends 'base.html' %}

{% block content %}
<form action="/ticket/" method="POST">
    {% csrf_token %}
    <h2>Generate your ticket here</h2>
    <div class="row" >
        <div class="col-5">
             <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                 <input type="text" class="form-control" name="uname"   value="{{user.username}}">

            </div>
                <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
                <div class="form-group">
                <label for="exampleInputEmail1">Message</label>
                <textarea class="form-control"  name="message" rows="3"></textarea>
            </div>

            <button type="submit" class="btn "  style="background-color: #00CED1; color: white; border-color: white;">Generate Ticket</button>

        </div>
     </div>
</form>
<br>
<a class="btn" href="{% url 'see_ticket' %}" style="background-color: white; color: #00CED1; border-color: #00CED1;">Ticket Status</a>
<br><br><br>
{% endblock %}